#!/bin/bash

set -e

git clone {{ czertainly.branding.repo }} /etc/ansible/roles/branding
cd /etc/ansible/roles/branding
git checkout {{ czertainly.branding.branch }}

git clone {{ czertainly.host_config.repo }} /etc/ansible/roles/host-config
cd /etc/ansible/roles/host-config
git checkout {{ czertainly.host_config.branch }}

git clone {{ czertainly.rke2.repo }} /etc/ansible/roles/rke2
cd /etc/ansible/roles/rke2
git checkout {{ czertainly.rke2.branch }}

ansible-galaxy collection install kubernetes.core
ansible-playbook /etc/ansible/playbooks/czertainly-branding.yml
