#!/bin/bash

set -e

# cdrom is unmouted and apt update is failing, so disable it
sed -i "s/^deb cdrom/# deb cdrom/" /etc/apt/sources.list

# HTTPS isn't working during instalation (no ca-certificates) so we
# need to install appliance tools in second try.
apt update
apt install -y czertainly-appliance-tools

# We need SCP so we can't change shell. File .bashrc is used only in
# interactive mode.
echo "
. /usr/bin/czertainly-exec-tui
" >> /home/czertainly/.bashrc

# during installation is $HOME variable set to / so ansible-galaxy
# installs into /
export HOME=/root
ansible-galaxy collection install kubernetes.core

export ANSIBLE_CONFIG=/etc/czertainly-ansible/ansible.cfg

ansible-playbook /etc/czertainly-ansible/playbooks/czertainly-branding.yml
